@charset "utf-8";


@font-face {
  font-family: "Josefin";
  src: url('./fonts/JosefinSans-VariableFont_wght.ttf') format('truetype');
}

$navbar-item-color: lightgrey;

$navbar-height: 2rem;
$navbar-item-img-max-height : 1.35rem;

:root {
  --progress-bar-background: linear-gradient(to right, lightgreen, green);
}

$navbar-background-color: black;

$dimensions: 16 24 32 48 64 96 128 256;

$section-padding: 3rem 1rem;
$box-padding: 1rem;

$notification-padding: 0.5rem 0.5rem 0.5rem 0.5rem;

$navbar-breakpoint: 1026px;

$dark-mode-transition-time: 1s;

html, section * {
  transition: color $dark-mode-transition-time,
  background-color $dark-mode-transition-time,
  filter $dark-mode-transition-time;
}



section.dark-mode {
    p, h1, h2, h3, h4, h5, .text, img:not(.no-dark-mode),

    label, input, textarea{
    //  background: black;

      filter: invert(1) hue-rotate(3.1416rad);

    }

    $dark-mode-background-color: #171717;

    button {
      background-color: $dark-mode-background-color;
    }

    .box {
      //filter: invert(1) hue-rotate(3.1416rad);
      background-color: $dark-mode-background-color;
      box-shadow: 0 0.5em 1em -0.125em invert(rgba(10, 10, 10, 0.1)), 0 0px 0 1px invert(rgba(10, 10, 10, 0.02));
    }


}

$dark-mode-background-color-html: #1F1F1F;

.dark-mode-html{
  //transition: color 3s, background-color 3s;
  background: $dark-mode-background-color-html;
}

article.panel.dark-mode {
  background-color: $dark-mode-background-color-html;
  .panel-body{
    filter: invert(1) hue-rotate(3.1416rad);
  }
}

html {
  height: 100%;
}


.image-post {
  float: left;
  margin: 10px;
  margin-bottom: 3px;
  border-radius: 8px;
}

.image-post-mobile{
  margin-bottom: 5px;
  display: block;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
}


$body-size: 22px;

a {
  word-break: break-all;
}


.progress{

  &::-webkit-progress-value{
    background-image:  var(--progress-bar-background);
  }
  &::-moz-progress-bar{
    background-image:  var(--progress-bar-background);
  }
  &::-ms-fill{
    background-image:  var(--progress-bar-background);
    border: none;
  }

  width: 20%;
}

$body-family: "Josefin";

@import "~bulma/bulma";
@import "~@creativebulma/bulma-tooltip";

p {
  margin-bottom: 1.5rem;
  text-align: justify;
  text-justify: inter-word;
}

.button.is-text{
  margin:0;
  padding:0;
}

.is-shared{
  margin-right: 0.5em;
}

.cursor {
  top: 35px;
}

.hero-body img{
  float:left;
  margin-right:2rem;
  width: 8rem;
  height:8rem;
}

.supertitle{
  padding-top:2rem;
}

@media screen and (max-width:768px){
  .navbar-item img {
    max-height: 1rem;
  }

  .hero-body img{
    height: 3rem;
    width:3rem;
    margin-right:1rem;
  }

  .supertitle{
    padding-top:0.2rem;
  }
}

.sources {
    max-height: 0;
    transition: max-height 1.5s;
     overflow: hidden;
}

.support-buttons {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
