@charset "utf-8";


@font-face {
  font-family: "Josefin";
  src: url('./fonts/JosefinSans-VariableFont_wght.ttf') format('truetype');
}

$navbar-item-color: lightgrey;

:root {
  --progress-bar-background: linear-gradient(to right, lightgreen, green);
}

$navbar-background-color: black;

$dimensions: 16 24 32 48 64 96 128 256;

.image-post {
  float: left;
  margin: 5px;
  border-radius: 8px;
}

.image-post-mobile{
  margin-bottom: 5px;
  display: block;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
}


$body-size: 22px;


.progress{

  &::-webkit-progress-value{
    background-image:  var(--progress-bar-background);
  }
  &::-moz-progress-bar{
    background-image:  var(--progress-bar-background);
  }
  &::-ms-fill{
    background-image:  var(--progress-bar-background);
    border: none;
  }

  width: 20%;
}

$body-family: "Josefin";

@import "bulma-0.8.2/bulma.sass";

.button.is-text{
  margin:0;
  padding:0;
}

.is-shared{
  margin-right: 0.5em;
}

.cursor {
  top: 35px;
}

@media screen and (max-width: 1024px){
  .navbar .navbar-brand{
    height:5em;
  }

  .navbar-burger {
    height: auto;
  }

  .navbar-burger span{
    width: 50px;
    height: 3px;
    left: calc(50% - 50px);

  }



  #app{
    padding-top: 1.76em;
  }

}
