@charset "utf-8";


/*@font-face {
  src: url('./fonts/MouseMemoirs-Regular.ttf') format('truetype');
}*/

$navbar-item-color: lightgrey;

:root {
  --progress-bar-background: linear-gradient(to right, lightgreen, green);
}

$navbar-background-color: black;

$dimensions: 16 24 32 48 64 96 128 256;

.progress{
  &::-webkit-progress-bar{
    background-image: var(--progress-bar-background);
  }
  &::-webkit-progress-value{
    background-image:  var(--progress-bar-background);
  }
  &::-moz-progress-bar{
    background-image:  var(--progress-bar-background);
  }
  &::-ms-fill{
    background-image:  var(--progress-bar-background);
    border: none;
  }

  width: 20%;
}
//$family-sans-serif: "MouseMemoirs Regular", sans-serif;

@import "bulma-0.8.2/bulma.sass";
