@charset "utf-8";


@font-face {
  font-family: "Josefin";
  src: url('./fonts/JosefinSans-VariableFont_wght.ttf') format('truetype');
}

$navbar-item-color: lightgrey;

:root {
  --progress-bar-background: linear-gradient(to right, lightgreen, green);
}

$navbar-background-color: black;

$dimensions: 16 24 32 48 64 96 128 256;

$size-8: 0.5rem;
$size: $size-8;

$section-padding: 3rem 1rem;
$box-padding: 1rem;

.image-post {
  float: left;
  margin: 5px;
  border-radius: 8px;
}

.image-post-mobile{
  margin-bottom: 5px;
  display: block;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
}


$body-size: 22px;

a {
  word-break: break-all;
}


.progress{

  &::-webkit-progress-value{
    background-image:  var(--progress-bar-background);
  }
  &::-moz-progress-bar{
    background-image:  var(--progress-bar-background);
  }
  &::-ms-fill{
    background-image:  var(--progress-bar-background);
    border: none;
  }

  width: 20%;
}

$body-family: "Josefin";

@import "bulma-0.8.2/bulma.sass";
//@use "sass:list";

//append($sizes, $size-8);

.button.is-text{
  margin:0;
  padding:0;
}

.is-shared{
  margin-right: 0.5em;
}

.cursor {
  top: 35px;
}

.hero-body img{
  float:left;
  margin-right:2rem;
  width: 8rem;
  height:8rem;
}

.supertitle{
  padding-top:2rem;
}

@media screen and (max-width:768px){
  .navbar-item img {
    max-height: 1rem;
  }

  .hero-body img{
    height: 3rem;
    width:3rem;
    margin-right:1rem;
  }

  .supertitle{
    padding-top:0.2rem;
  }
}

.sources {
    max-height: 0;
    transition: max-height 1.5s;
     overflow: hidden;
}
