

<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ msg.subject }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      img { display:block; }
      p { margin: 0 0 1.6em 0; color: #000000}
      h4 {color: #000000 }
      li { color: #000000; list-style-type: circle; }
      body { font-family: Arial Black, sans-serif, 'Open Sans'; }
    </style>
  </head>
  <body>
    <table cellspacing="0" cellpadding="0" border="0" width="100%">

    <tr>

      <td bgcolor=”#000000”>

        <img src="cid:moisiometre_email.gif" width="80" height="80" alt="Le MoisiOMètre">
      </td>

    </tr>

    <tr>

      <td>

        <h4>

          Bonjour, M/Mme {{ order.customer_set.all.0.fullname }},
        </h4>
        <p>
          Ceci est un courriel pour vous informer que {{ msg.message }}
        </p>
        {% if order.status == "partial" %}
        <p>
          La commande a été envoyé en partie. Vous allez avoir une autre livraison pour les autres items.
        </p>
        {%  elif order == "fulfilled" %}
        <p>
          La commande a été envoyé en entier. Vous allez bientôt recevoir tous les items de votre commande.
        </p>
        {% endif %}

        {% for shipment in order.shipment_set.all %}
        <p>
          Votre paquet sera livré par {{ shipment.service }} <br>
          Votre numéro de suivi est le {{ shipment.tracking_number }}. <br>
          Voici le lien pour le suivi est <a href="{{ shipment.tracking_url }}">{{ shipment.tracking_url }}</a>
        </p>
        {% endfor %}

        <p>
          Les items de votre commande sont les suivantes:
          <ul>
            {% for item in order.orderitem_set.all %}
              <li>{{ item.variant.name }}, quantité: {{ item.quantity }}</li>
            {% endfor %}
          </ul>
        </p>

        {% if shipped_items %}
        <p>
          Les items de votre commande qui ont été envoyé
          <ul>
            {% for item in shipped_items %}
              <li>{{ item.variant.name }}, quantité envoyée: {{ item.quantity_shipped }}</li>
            {% endfor %}
          </ul>
        </p>
        {% endif %}
        <p>Merci, d'avoir magasiner sur la boutique du MoisiOMètre. :)</p>
      </td>

    </tr>

    </table>
  </body>
</html>
