{% load static %}

<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static '/css/mystyles.css' %}">
    <title>Bullshit-O-Mètre</title>
  </head>
  <body>
  <div id="app-bull-label">
    <section class='hero is-link'>
      <div class="hero-body">
        <div class="container">
          <h1 class="title">Bullshit-O-Mètre</h1>
          <p>Il y a {{labeled_website_count}} sites webs labellés,
            avec {{no_bullshit_labeled_website_count}} sites webs sans bullshit,
            et {{bullshit_labeled_website_count}} sites webs avec bullshit</p>
        </div>
      </div>

    </section>
    <section class="section">
      <div class="container">
        <app-bull></app-bull>
      </div>
    </section>


    <app-bull-label></app-bull-label>

  </div>
    <script type="text/javascript" src="{% static 'index.js' %}"></script>
  </body>
</html>
