{% load static %}

<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static '/css/mystyles.css' %}">
    <title>Bullshit-O-Mètre</title>
  </head>
  <body>
  <div id="app_bull">
    <section class='hero is-link'>
      <div class="hero-body">
        <div class="container">
          <h1 class="title">Bullshit-O-Mètre</h1>
        </div>
      </div>

    </section>
    <section class="section">
      <div class="container">
        <h1 class="title">Postulez un site</h1>
        <form name="website_form" action="/bullshit_o_metre/" method="post">

          <div class="field">
            <label for="website_url">Url: </label>
            <div class="control">
              <input type="url" name="website_url" v-model="url">
            </div>
          </div>
          <div class="field">
            <label for="recalcutate">Recalculer le score</label>
            <div class="control">
              <input type="checkbox" name="recalculate" v-model="recalculate">
            </div>

          </div>

          <div class="field">
            <div class="control">
              <button class="button is-link is-small" @click="get_website" type="button" name="button">Postulez</button>
            </div>
          </div>

        </form>
      </div>


    </section>
    <div v-if="website">
      <section class="section">
          <div class="container">
            <h1 class="title">${website.title}</h1>
            <p>Nombre de lemmas: ${website.lemmas_count}</p>
            <p>score: ${website.score}</p>
          </div>
      </section>
    </div>

    <section class="section">



      <div class="container">
          <h1 class="title">Lemmas à évaluer</h1>
          <p>Ils restent {{ not_evaluated_lemmas_count }} lemmas à évaluer.</p>
          <form name="lemmas_form" action="/bullshit_o_metre/evaluate_tainted_lemmas" method="post">
            {% csrf_token %}
            {{ formset.management_form }}
            {% for form in formset %}
                <div @click="is_evaluated('{{form.prefix}}-is_evaluated')">
                {% for field in form %}
                    {% if field.is_hidden %}
                        {{ field }}
                    {% else %}
                        <div class="field">
                          <label for="{{ field.id_for_label }}" class="label">{{ field.label }}</label>
                            <div class="control">
                            {{ field }}
                            </div>
                        </div>
                    {% endif %}

              {% endfor %}
              </div>
              <hr>
            {% endfor %}

              <div class="field">
                <div class="control">
                  <button class="button is-link is-small" type="submit" name="button">Enregistrer</button>
                </div>
              </div>
          </form>
      </div>

    </section>
  </div>
    <script type="text/javascript" src="{% static 'js/bundle.js' %}"></script>
  </body>
</html>
