{% extends 'blog/main.html' %}

{% load static %}

{% block content %}
<div class="container">

<h1 class="title is-size-6-mobile">À propos</h1>
<p class="has-text-justified">{{about.text}}</p>
<br>
<div class="buttons has-addons has-text-centered" style="display:block">
  <a target='_blank' href="https://www.facebook.com/moisiometre">
    <button class="button is-text">
        <img class="image is-64x64" src="{% static 'images/facebook_share_button.png' %}" alt="share button facebook">
    </button>
  </a>
  <a target='_blank' href="https://twitter.com/JuniorGregoire4">
    <button class="button is-text">
      <img class="image is-64x64" src="{% static 'images/twitter_share_button.png' %}" alt="share button twitter">
    </button>
  </a>
  <a target='_blank' href="https://www.instagram.com/moisiometre/">
    <button class="button is-text">
      <img class="image is-64x64" src="{% static 'images/insta_share_button.png' %}" alt="share button twitter">
    </button>
  </a>
</div>
<div class="buttons has-addons has-text-centered" style="display:block">
  <a target='_blank' href="https://www.youtube.com/channel/UCRL4lp03ShvjKueYOpOgnhA">
    <button class="button is-text">
        <img class="image is-64x64" src="{% static 'images/youtube_icon.png' %}" alt="link youtube chaîne du MoisiOMètre">
    </button>
  </a>
  <a target='_blank' href="https://open.spotify.com/show/2KBUHtEUeCDvxJO6OKxZ8U">
    <button class="button is-text">
      <img class="image is-64x64" src="{% static 'images/spotify_icon.png' %}" alt="link spotify podcast du MoisiOMètre">
    </button>
  </a>
  <a target='_blank' href="https://soundcloud.com/junior-gregoire">
    <button class="button is-text">
      <img class="image is-64x64" src="{% static 'images/soundcloud_icon.png' %}" alt="link soundcloud podcast du MoisiOMètre">
    </button>
  </a>
  <a target='_blank' href="https://podcasts.apple.com/ca/podcast/le-podcast-du-moisiom%C3%A8tre/id1542472781">
    <button class="button is-text">
      <img class="image is-64x64" src="{% static 'images/itune_podcast_icon.png' %}" alt="share button twitter">
    </button>
  </a>
</div>


{% endblock %}
