{% extends 'blog/main.html' %}
{% load static %}
{% block content %}
<h1 class="title is-size-6-mobile">Bullshit O Mètre</h1>
<p>Attention ! C'est encore très expérimental. Cependant, le but du Bullshit-O-Mètre est détecté le niveau de
  bullshit (ou de subjectivité) d'un site web ou d'un vidéo Youtube qui a des transcription ou des soutitres en français.
  Pour le moment, ça marche seulement avec les sites francophones. Quand j'aurais un modèle assez bon en français,
  je vais en développer un en anglais. Prenez le résultat du Bullshit-O-Mêtre avec un grain de sel.</p>

  <h1 class="title">Évaluer un site</h1>

  <form name="website_form" >

    <div class="field">
      <label for="website_url">Url: </label>
      <div class="control">
        <input type="url" name="website_url" v-model="url">
      </div>
    </div>


    <div class="field">
      <div class="control">
        <button class="button is-link is-small" :class="{'is-loading': loading_eval }" @click="evaluate_website" type="button" name="button">Évaluer</button>
      </div>
    </div>

  </form>
  <br>
  <div v-if="error">
    <div class="notification is-danger">
      ${error}
    </div>
  </div>
  <div v-if="website">

    <h2 class="subtitle">${website.title}</h2>

    <p>Il y a environ ${website.score} % selon Bullshit-O-Mètre</p>
  </div>

{% endblock %}
