
{% extends 'main.html' %}

{% load meta_tag %}
{% block meta_tag %}
  {% meta_tag  request.path "Contact" "Si vous voulez me contacter. C'est ici !" %}
{% endblock %}


{% block main_title %}Contact{% endblock %}

{% block content %}
<div class="container">

  <p>N'hésitez pas à aller sur ma page facebook ou sur mon twitter pour communiquer avec moi.
    J'ai même un instagram. Les liens de mes réseaux sociaux sont en bas de page de l'onglet
    <a href="{% url 'about' %}">À propos</a>. Si vous voulez me contactez par courriel, vous pouvez
    utilisez le formulaire ci-bas !
  </p>
  <form class="" action="" method="post">
    {% csrf_token %}
    <div class="field">
      <label class="label" for="scriptsrcubject">Titre</label>
      <div class="control">
        <input class="input is-small" type="text" size="40" name="subject" required>
      </div>
    </div>

    <div class="field">
      <label class="label" for="email">Courriel: (non requis)</label>
      <div class="control">
        <input class="input is-small" type="email" size="40" name="email" placeholder="armand.guidon@gmail.com">
      </div>
    </div>

    <div class="field">
      <label for="message" class="label" >Message</label>
      <div class="control">
        <textarea  class="textarea is-small" name="message" rows="7" cols="50" required></textarea>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <button class="button is-link is-small" type="submit" name="Submit">Soumettre</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
