
{% extends 'blog/main.html' %}

{% load static %}

{% block content %}
        {{ post_ids|json_script:"post-ids" }}

        <div id="app" >
          <App local_url="{{request.build_absolute_uri}}"
               facebook_button_img="{% static 'images/facebook_share_button.png' %}"
               twitter_button_img="{% static 'images/twitter_share_button.png' %}"
               copy_link_button_img="{% static 'images/copy_link_button.png' %}"
               support_href="{% url 'support' %}"></App>
        </div>


{% endblock %}
