
{% extends 'blog/main.html' %}
{% load blog_filters %}
{% load static %}

{% block content %}
        {% for post in posts %}
          <div class="box">
            <h1 class="title">{{post.title}}</h1>

            {% if post.image %}
              <div class="media">
                <figure class="media-left">
                  <p class="image is-256x256">
                    <img src="{{post.image.url}}" alt="imâge">
                  </p>
                </figure>
                <div class="media-content">
                  <p>{{post.content}}</p>
                </div>
              </div>

            {% else %}
              <p>{{post.content}}</p>
            {% endif %}
            <br>

            {% include 'blog/source.html' with source_title="Source moisi" source=post.source %}

            <br>
            {% if post.rottenpoint_set.count > 0 %}
                <h2 class="subtitle">Les Points Moisis</h2>
                {% for point in post.rottenpoint_set.all|dictsort:"order" %}
                  <h3 class="has-text-weight-bold">{{point.title}}</h3>
                  <p>{{point.description}}</p>
                  <br>
                  {% include 'blog/source.html' with source_title="Source moisi" source=point.rotten_source %}
                  {% include 'blog/source.html' with source_title="Source" source=point.source %}
                  <br>
                {% endfor %}

              {% if post.post_type == 'CRITIC' %}
                <custom-progress count={{post.rottenpoint_set.count}}></custom-progress>
              {% endif %}
              <br>
            {% endif %}

            <p class="is-size-7">Créer le {{post.date_created}}</p>
            {% if post.date_created < post.date_modified %}
              <p class="is-size-7">Modifier le {{post.date_modified}}</p>
            {% endif %}
            <div class="buttons has-addons">
              <div class="is-size-6">
                Partagez:
              </div>
              <a href="https://www.facebook.com/sharer.php?u={{request.build_absolute_uri|post_urlencode:post.id}}"><button class="button is-text is-small"><img class="image is-24x24" src="{% static 'images/facebook_share_button.png' %}" alt="share button facebook"></button></a>
              <a href="{% post_share_url_twitter request.build_absolute_uri post.id post.title %}"><button class="button is-text is-small"><img class="image is-24x24" src="{% static 'images/twitter_share_button.png' %}" alt="share button twitter"></button></a>
            </div>
          </div>

          <br>
        {% endfor %}

{% endblock %}
