{% load static %}

<!DOCTYPE html>
<html lang="fr" dir="ltr" class="has-navbar-fixed-top">
  <head>
    <meta charset="utf-8">
    <title>Moisi O Mètre</title>
    <link rel="stylesheet" href="{% static '/css/mystyles.css' %}">
    <link rel="shortcut icon" type="image/svg" href="{% static '/images/moisiometre.svg' %}">
    <meta name="google-site-verification" content="vIfZ0oM4GE2y8HTW-Y8kfoDRYOQ3j7h7oksrGKMDxU8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="{{ tag.title }}"/>
    <meta property="og:url" content="{{ tag.url }}"/>
    <meta property="og:image" content="{{ tag.image }}"/>
    <meta property="og:description" content="{{ tag.description }}"/>
    <meta name="twitter:card" content="summary_large_image">

    <meta property="og:site_name" content="Moisi-O-Metre">
    <meta name="twitter:image:alt" content="Alt text for image">

  </head>
  <body>
    {% include 'blog/vuejs_templates.html' %}
  <div id="app">
    <nav class="navbar is-fixed-top is-transparent" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'index' %}">
              <img src="{% static '/images/moisibanner.svg' %}">
            </a>

            <a role="button" :class="{'is-active': isActive}" @click="toggleMenu()" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasic">
             <span aria-hidden="true"></span>
             <span aria-hidden="true"></span>
             <span aria-hidden="true"></span>
           </a>
        </div>

        <div :class="{'is-active': isActive}" id="navbarBasic" class="navbar-menu">
          <div class="navbar-end is-size-7">

            <a class="navbar-item" href="{% url 'references' %}">Références</a>
            <a class="navbar-item" href="{% url 'about' %}">À propos</a>
            <a class="navbar-item" href="{% url 'contact' %}">Contact</a>
            <a class="navbar-item" target="_blank" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=4V49WYNVPPCY2&source=url">Donner des sous</a>
            <a class="navbar-item" target="_blank" href="https://teespring.com/stores/moisi-o-metre">Shop</a>

          </div>
        </div>
      </div>
    </nav>
    <section class="hero is-dark is-bold">
      <div class="hero-body">
        <div class="container">
            <img src="{% static '/images/moisiometre.svg' %}" alt="moisimetre">
            <div class="supertitle">
              <h1 class="title is-size-6-mobile">Moisi O Mètre</h1>
              <h2 class="subtitle is-size-7-mobile">Le baromètre des arguments moisis</h2>
            </div>
          </div>
      </div>
    </section>
    <section class="section is-size-7-mobile">
      <div class="container">
          {% block content %}
          {% endblock %}
      </div>
    </section>
  </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.0/anime.min.js"> </script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="{{ vuejs }}"></script>
    <script src="https://unpkg.com/showdown@1.9.0/dist/showdown.min.js"></script>
    <script src="https://unpkg.com/vue-showdown@2.3.0/dist/vue-showdown.min.js"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
  </body>
</html>
