{% load static %}

<!DOCTYPE html>
<html lang="fr" dir="ltr" class="preload has-navbar-fixed-top">
  <head>
    <meta charset="utf-8">
    <title>Moisi O Mètre - {{ tag.title }}</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="shortcut icon" type="image/svg" href="{% static '/images/moisiometre.svg' %}">
    <link rel="canonical" href="{{ tag.url }}">
    <meta name="google-site-verification" content="vIfZ0oM4GE2y8HTW-Y8kfoDRYOQ3j7h7oksrGKMDxU8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <meta name="author" content="Junior Grégoire">
    <meta name="keywords" content="MoisiOMètre, moisi-o-metre, moisiometre, philosophie, pensée critique, stoïcisme, biologique, coach de vie, tribalisme, homéopathie, b*llshit-o-metre, B*llshitOMètre, correlation illusoire, guru boisson, naiserie, ">

    <meta property="og:title" content="{{ tag.title }}" />
    <meta property="og:url" content="{{ tag.url }}" />
    <meta property="og:image" content="{{ tag.image }}" />
    <meta name="description" property="og:description" content="{{ tag.description }}"/>
    <meta property="og:type" content="website">
    <meta property="fb:app_id" content="2616699621918317">
    <meta name="twitter:card" content="summary_large_image">

    <meta property="og:site_name" content="Moisi-O-Metre">
    <meta name="twitter:image:alt" content="Alt text for image">

    {% if not debug %}
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-B944J55XNM"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-B944J55XNM');
      </script>
    {% endif %}

  </head>
  <body>

  <div id="nav-app">
    <nav-bar
      snow_img_url="{% static '/images/neige.png' %}"
      loupe_img_src="{% static '/images/loupe.svg' %}"
      moisibanner_img="{% static '/images/moisibanner.svg' %}"
      basket_img_src="{% static '/images/basket.svg' %}"
      dark_mode_icon_src="{% static '/images/dark_mode_icon.svg' %}"
      index_href="{% url 'index' %}"
      bullshit_href="{% url 'bullshit' %}"
      quiz_href="{% url 'quiz' %}"
      references_href="{% url 'references' %}"
      about_href="{% url 'about' %}"
      contact_href="{% url 'contact' %}"
      support_href="{% url 'support' %}"
      store_index_href="{% url 'store_index' %}"
      ></nav-bar>

      <noscript>
        <div>
          <nav class="navbar is-fixed-top is-transparent" role="navigation" aria-label="main navigation">
            <div class="container">
              <div class="navbar-brand">
                  <a class="navbar-item banner" href="{% url 'index' %}">
                    <img src="{% static '/images/moisibanner.svg' %}">
                  </a>

                  <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasic">
                   <span aria-hidden="true"></span>
                   <span aria-hidden="true"></span>
                   <span aria-hidden="true"></span>
                 </a>
              </div>


              <div id="navbarBasic" class="navbar-menu">
                <div class="navbar-end is-size-7">
                  <a class="navbar-item" href="{% url 'references' %}">Références</a>
                  <a class="navbar-item" href="{% url 'about' %}">À propos</a>
                  <a class="navbar-item" href="{% url 'contact' %}">Contact</a>
                  <a class="navbar-item" href="{% url 'support' %}">Supportez le blog</a>

                </div>
              </div>
            </div>
          </nav>

        </div>

      </noscript>

  </div>

  <section class="hero is-dark is-bold is-small">
      <div class="hero-body">
        <div class="container">
            <img src="{% static '/images/moisiometre.svg' %}" alt="moisimetre">
            <div class="supertitle">
              <h1 class="title is-size-6-mobile">Moisi O Mètre</h1>
              <h2 class="subtitle is-size-7-mobile">Le baromètre des arguments moisis
                <br>
                <span class="main-title">{{ main_title }}</span>
              </h2>

            </div>
          </div>
      </div>
    </section>
    <!-- <div class="dark-mode"> -->
      <section id="main-section" class="section is-size-7-mobile">

        {% block content %}
        {% endblock %}

      </section>
    <!-- </div> -->


    <script type="text/javascript" src="{% static 'index.js' %}"></script>

  </body>
</html>
