{% load static %}

<!DOCTYPE html>
<html lang="fr" dir="ltr" class="has-navbar-fixed-top">
  <head>
    <meta charset="utf-8">
    <title>Moisi O Mètre</title>
    <link rel="stylesheet" href="{% static '/css/mystyles.css' %}">
    <link rel="shortcut icon" type="image/svg" href="{% static '/images/moisiometre.svg' %}">
    <meta name="google-site-verification" content="vIfZ0oM4GE2y8HTW-Y8kfoDRYOQ3j7h7oksrGKMDxU8" />
  </head>
  <body>
  <div id="app">
    <nav class="navbar is-fixed-top is-transparent" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'index' %}">
              <img src="{% static '/images/moisibanner.svg' %}">
            </a>

            <a role="button" :class="{'is-active': isActive}" @click="toggleMenu()" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasic">
             <span aria-hidden="true"></span>
             <span aria-hidden="true"></span>
             <span aria-hidden="true"></span>
           </a>

        </div>

        <div :class="{'is-active': isActive}" id="navbarBasic" class="navbar-menu">
          <div  class="navbar-end">

            <a class="navbar-item" href="{% url 'references' %}">Références</a>
            <a class="navbar-item" href="{% url 'about' %}">À propos</a>
            <a class="navbar-item" href="{% url 'contact' %}">Contact</a>
            <a class="navbar-item" target="_blank" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=4V49WYNVPPCY2&source=url">Donner des sous</a>

          </div>
        </div>
      </div>
    </nav>
    <section class="hero is-dark is-bold">
      <div class="hero-head">

      </div>
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="column is-narrow">
                <img src="{% static '/images/moisiometre.svg' %}" alt="moisimetre" height="150" width="150">
            </div>
            <div class="column">
              <br>
              <h1 class="title">Moisi O Mètre</h1>
              <h2 class="subtitle">Le baromètre des arguments moisis</h2>
            </div>
          </div>


        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
          {% block content %}
          {% endblock %}
      </div>

    </section>
  </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.0/anime.min.js"> </script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
  </body>
</html>
