{% extends 'main.html' %}

{% load meta_tag %}
{% block meta_tag %}
  {% meta_tag  request.path "Les références" "Voici la liste de références globals du MoisiOMètre" %}
{% endblock %}


{% block main_title %}Références{% endblock %}

{% block content %}
<div class="container">



{% for reference in references %}
  <h2 class="has-text-weight-bold">{{reference.title}}</h2>
  <p>{{reference.description}}</p>
  <a href="{{reference.source}}">{{reference.source}}</a>
  <br><br>
{% endfor %}
</div>
{% endblock %}
