{% extends 'blog/main.html' %}

{% block content %}


<h1 class="title is-size-6-mobile">Supportez le blog</h1>
<p>Soyons franc ! Si je fais un blog, c'est pour faire de l'argent
  et éventuellement pouvoir l'acheter une villa en Californie. Si vous voulez m'aidez à réaliser
mon réve. C'est ici qu'il y a des liens vers des options de ventes pyramidales. Plus sérieusement,
si vous aimez assez le blog MoisiOMètre, voici une liste d'option pour supporter le blog. A+ !
</p>
<div class="support-buttons">
  <a class="button is-fullwidth is-danger" target="_blank" href="https://www.utip.io/moisiometre">uTip</a>
  <br>
  <a class="button is-fullwidth is-info" target="_blank" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=4V49WYNVPPCY2&source=url">Paypal</a>
  <br>
  <a class="button is-fullwidth is-success" target="_blank" href="https://teespring.com/stores/moisi-o-metre">Teespring</a>

</div>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- moisiometre_pub -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4016067006669823"
     data-ad-slot="2452824909"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

{% endblock %}
