{% extends 'blog/main.html' %}

{% block content %}

<div class="container">
  <h1 class="title is-size-6-mobile">Supportez le blog</h1>
  <p>Soyons franc ! Si je fais un blog, c'est pour faire de l'argent
    et éventuellement pouvoir l'acheter une villa en Californie. Si vous voulez m'aidez à réaliser
  mon réve. C'est ici qu'il y a des liens vers des options de ventes pyramidales. Plus sérieusement,
  si vous aimez assez le blog MoisiOMètre, il y a plusieurs options pour le supporter. D'abord n'hésitez pas
   à aller voir les liens affiliates à la fin des posts. Ensuite vous pouvez allez sur un tour sur l'une des
   boutiques du MoisiOMètre pour voir s'il y a quelque chose d'intéressant. Et finalement, si vous pouvez
    faire un don sur Paypal. Je re-post aussi certain de mes articles sur Medium. A+.
  </p>
  <div class="support-buttons">
    <a class="button is-fullwidth is-danger" target="_blank" href="https://www.redbubble.com/fr/people/moisiometre/shop?asc=u">Boutique principale (ReBubble)</a>
    <br>
    <a class="button is-fullwidth is-success" target="_blank" href="https://www.teepublic.com/user/moisiometre">TeePublic</a>
    <br>
    <a class="button is-fullwidth is-warning" href="https://www.etsy.com/ca-fr/shop/MoisiOMetre?ref=seller-platform-mcnav" target="_blank">Boutique Etsy</a>
    <br>
    <a class="button is-fullwidth is-info" target="_blank" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=4V49WYNVPPCY2&source=url">Paypal</a>
    <br>
    <a class="button is-fullwidth is-link" target="_blank" href="https://medium.com/@junior.gregoire">Medium</a>
    <br>




  </div>
</div>



{% endblock %}
